.vagrant/
Vagrantfile
*.log
ngrok
.vscode/
*.pyc
*.*~
data.json
hypothesis.map
.hypothesis/
*do.py
.bumpversion.cfg
.env
.env.docker
env
docker-data
client_secret.json
cr.json
google_client_secret.json
domains.txt
static_root
media
.idea
.vscode
__pycache__
